# Archivos de entorno con variables sensibles
.env
.env.*
backend/venv/
tracker_server/venv/

# Archivos de configuración
config.*
settings.*

# Archivos de caché
.cache
*.pyc
__pycache__/

# Archivos de logs
*.log
